body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
}

img{
    width: 25px;
    height: auto;
}
.navbar{
height: 25px;
font-size: 12px;
color: black;
background-color: rgb(128, 128, 128);
font-family: 'Segoe UI', sans-serif;
}

.dropdown-item{
    color: black;
}

.layout{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 680px;
}

.tool {
	width: 25px;
	height: auto;
	border: 0;
	border-right: 1px solid var(--ButtonDkShadow);
	border-bottom: 1px solid var(--ButtonDkShadow);
	background: transparent;
	outline: 0;
    }

.toolBox{
    background-color: rgb(240, 240, 240);
    border-right: 1px solid  rgb(128, 128, 128);
    height: 680px;
    width: 65px;
}

.canvasContainer{
    background-color: rgb(192, 192, 192);
    height: auto;
    width: auto;
}

.canvas{
    border-right: 2px solid  rgb(128, 128, 128);
    border-bottom: 2px solid  rgb(128, 128, 128);
}
canvas {
    position: absolute;
}

#canvasInput {
    position: absolute;
    display: none;
}

.color-menu{
    /* background-color: rgb(240, 240, 240); */
    border-top: 1px solid  rgb(128, 128, 128);
    display: flex;
    flex-direction: row;
    align-items: center;
  
    
}
.colors-selection-span{
    margin-left: 10px;
    /* margin-top: 10px; */
    width: 250px;
}

.color-panel{
    width: 23px;
    height: 20px;
    border: 1px solid black;
    margin: 2px;
}
.color-main-box{
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 5px 5px 5px 35px;
    justify-self: center;
   
}
#current-color_fill{
    position: absolute;
    width: 25px;
    height: 25px;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px;
    border: 1px solid black;
}
.current-color_fill_z{
    z-index: -1;
}
#current-color_stroke{
    margin-left: 5px;
    margin-top: 5px;
    width: 25px;
    height: 25px;
    border: 1px;
    border: 1px solid black;
}
.mainColor_fill{
    background-color: black;
}
.mainColor_stroke{
    background-color: white;
}
.colorbar{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
}
.all-color{
}

.Black{
    background-color: black;
}
.White{
    background-color: white;
}
.Maroon{
    background-color: #9C1010;
}
.Brown{
    background-color: #490808;
}
.Pine{
    background-color: #1D800C;
}
.Ocean{
    background-color: #0C7980;
}
.Azure{
    background-color: #1520A6;
}
.Violet{
    background-color: #710193;
}
.Wine{
    background-color: #2C041C;
}
.IndianRed{
    background-color: #CD5C5C;
}
.Orange{
    background-color: #FFA500;
}
.Coral{
    background-color: #FF7F50;
}
.Khaki{
    background-color: #F0E68C;
}
.Indigo{
    background-color: #4B0082;
}
.Navy{
    background-color: #000080;
}
.RosyBrown{
    background-color: #BC8F8F;
}
.Chocolate{
    background-color: #D2691E;
}
.Nocolor{
    background-color: rgba(255,255,255,1);
}








  